@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

body {
  display: fixed;
  padding: 0;
  margin: 0;
  /* color: #000;
  padding: 1em;
  line-height: 1.8em;
  font-family: Cousine, monospace;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  word-wrap: break-word;
  background: #dfe6e9; */
}

/* Colors */
.text-primary {
  color: #fff;
}

.container {
  display: flex;
}

.container section {
  position: relative;
  height: 100vh;
  width: 100%;
}

.dark-gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.92;
  background-color: #262729;
  background-image: linear-gradient(#852564, #ee4c34);
  /* background-image: linear-gradient(#852564, #ee4c34); */
  background-image: radial-gradient(
    circle farthest-corner at center,
    #852564 0%,
    #ee4c34 100%
  );
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
}

.dark-gradient:hover {
  opacity: 0.98;
}

.container section:first-of-type {
  background-image: url("me.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  /* background-attachment: local; */
  /* border-right: 2px solid #272c32; */

  display: flex;
  align-items: center;
  justify-content: center;
}

.container section:last-of-type {
  background: #1e0f21;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.ml-2 {
  margin-left: 10px;
}

/* profile */
.profile {
  width: 300px;
  text-align: center;
  z-index: 1000;
}

.profile img {
  height: 70px;
}

.profile p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

/* -- Main Content -- */
.main-content {
  margin: 30px 0;
}

.main-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.card {
  border-radius: 5px;
  width: 110px;
  margin: 20px 10px;
}

.card-title {
  position: relative;
}

.card-body {
  /* padding: 1.25rem; */
}

.card-title h5 {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 5px 0;
  color: #fff;
}

.progress {
  width: 100%;
  height: 3px;
  border-radius: 30px;
}

.progress-wrap {
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}

.progress-wrap .progress-bar {
  background: #e84393;
  left: 0;
  position: absolute;
  top: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 0 20px;
}
/* -- end Main Content -- */

.list-horizontal {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-horizontal li a img {
  height: 25px;
  margin: 0 5px;
  vertical-align: baseline;
}

.contacts {
  display: block;
  list-style: none;
  padding: 0;
  color: #fff;
}

.contacts li {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 5px 0;
}

@media screen and (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .content {
    justify-content: center;
  }
}
