@import url("https://fonts.googleapis.com/css?family=Raleway:300,400");

body {
  display: fixed;
  padding: 0;
  margin: 0;
}

.text-primary {
  color: #fff;
}

.wrapper {
  display: flex;
}

.wrapper .half-screen {
  position: relative;
  height: 100vh;
  width: 100%;
}

.half-screen__gradient {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.92;
  background-color: #262729;
  background-image: linear-gradient(#852564, #ee4c34);
  background-image: radial-gradient(circle farthest-corner at center,
    #852564 0%,
    #ee4c34 100%);
  transition: opacity 0.5s ease-out;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  -ms-transition: opacity 0.5s ease-out;
}

.half-screen__gradient:hover {
  opacity: 0.98;
}

.half-screen {
  display: flex;
  flex-direction: column;
}

.half-screen--background-image {
  background-image: url("me.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 50%;
  align-items: center;
  justify-content: center;
}

.wrapper section:last-of-type {
  background: #1e0f21;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.my-informations {
  display: block;
  width: 300px;
  text-align: center;
  color: #fff;
  z-index: 1000;
}

.my-informations img {
  height: 70px;
}

.my-informations p {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.main-content {
  margin: 30px 0;
}

.main-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 32px;
  color: #fff;
  text-align: center;
}

.card {
  border-radius: 5px;
  width: 110px;
  margin: 20px 10px;
}

.card__header span {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 5px 0;
  color: #fff;
}

.progress {
  width: 100%;
  height: 3px;
  border-radius: 30px;
}

.progress-wrap {
  margin: 10px 0;
  overflow: hidden;
  position: relative;
}

.progress-wrap .progress-bar {
  background: #e84393;
  left: 0;
  position: absolute;
  top: 0;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  padding: 0 20px;
}

.content__portfolio {
  padding: 0;
}

.sample__image {
  /* height: 140px !important; */
  /* width: 290px !important; */
  border-radius: 5px 15px;
}

.sample__title {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  text-align: center;
  color: #fff;
  margin: 10px 5px;
  text-decoration: none;
}

.sample__title--link a,
.sample__title--link a:visited,
.sample__title--link a:focus {
  color: #fff;
  text-decoration: none;
}

.sample__title--link a:after {
  content: " »";
}

.my-informations__socials {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.my-informations__socials li a img {
  height: 25px;
  margin: 0 18px;
  vertical-align: baseline;
}

.my-informations__contacts {
  display: block;
  list-style: none;
  padding: 0;
  color: #fff;
}

.my-informations__contacts li {
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  margin: 5px 0;
}

@media screen and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
  }

  .content {
    justify-content: center;
  }

  .wrapper section:last-of-type {
    height: 100% !important;
  }

  .my-informations__socials li a img {
    margin: 0 12px;
  }
}